<!-- Footer Start -->
<footer>
  <nav class="container visible-xs-block">
    <div class="footer-menu">
      <ul>
        <li>
          <a routerLink="/home" [class.footer-active]="isActiveHome">หน้าแรก</a>
        </li>
        <li>
          <a routerLink="/about" [class.footer-active]="isActiveAbout">เกี่ยวกับเรา</a>
        </li>
        <li>
          <a routerLink="/menu" [class.footer-active]="isActiveMenu">เมนู</a>
        </li>
      </ul>
    </div>
    <ul class="social-network">
      <li>
        <a href="http://facebook.com/hachibanramenthailand" target="_blank">
          <img src="https://www.hachiban.co.th/img/icon/fb.png" alt="">
        </a>
      </li>
      <li>
        <a href="http://instagram.com/hachibanramenthailand" target="_blank">
          <img src="https://www.hachiban.co.th/img/icon/ig.png" alt="">
        </a>
      </li>
      <li>
        <a href="http://youtube.com/channel/UCgDH-qeApWi3411x_TeYVVQ" target="_blank">
          <img src="https://www.hachiban.co.th/img/icon/yt.png" alt="">
        </a>
      </li>
      <li>
        <a href="http://twitter.com/hachibanramenth" target="_blank">
          <img src="https://www.hachiban.co.th/img/icon/tw.png" alt="">
        </a>
      </li>
    </ul>
    <p>
      Copyright @ 2023
      <strong>RAWI FOOD</strong>
      . All rights reserved.
    </p>
  </nav>
</footer>

