<ng-container *ngIf="!isLoginPage() && !isAdminPage() && !isRegisterPage()">
  <app-header></app-header>
  <app-section *ngIf="isMenuPage()"></app-section>
  <router-outlet></router-outlet>
  <app-footer></app-footer>
</ng-container>

<ng-container *ngIf="isLoginPage()">
   <app-login></app-login>
</ng-container>

<ng-container *ngIf="isRegisterPage()">
  <app-register></app-register>
</ng-container>

<ng-container *ngIf="isAdminPage()">
  <app-admin></app-admin>
  <!-- <router-outlet></router-outlet> -->
</ng-container>



