.details {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: 2fr;
  grid-gap: 30px;
  /* margin-top: 10px; */
}

.details .recentOrders {
  position: relative;
  display: grid;
  min-height: 500px;
  background: #fff;
  padding: 20px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.cardHeader h2 {
  font-weight: 600;
  color: #000;
}

.auth-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
// .form-row {
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   margin-bottom: 10px;
// }
.form-group-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 20px;
}
label {
  font-weight: bold;
  margin-bottom: 5px;
}
input[type="text"], input[type="tel"] {
  padding: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  width: 300px;
  margin-bottom: 10px;
}
small {
  font-size: 12px;
  margin-top: 5px;
}
button[type="submit"] {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}
button[type="submit"]:hover {
background-color: #3e8e41;
}

