<div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://scontent.fkkc4-1.fna.fbcdn.net/v/t1.15752-9/337701189_604616851516326_271884419677339715_n.png?_nc_cat=104&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeHsRo1XGrWK8Wx0xFM8xMT9uGoM_SFR1ua4agz9IVHW5tVxop87X5KW9wNu_v7IjQdX9aVNzbLOqm3QnWXD0599&_nc_ohc=EgHXrJTHMAkAX9i49sA&_nc_ht=scontent.fkkc4-1.fna&oh=03_AdSodJ4yCu-EJtbypzFK3IpOxLFBsAFXKGKKBZL8gBMGRQ&oe=64491A08" class="d-block w-100" alt="Slide 1" height="520px">
        </div>
      </div>
      <div>
        <h1 style="font-size: 50px; display: flex; justify-content: center; margin-top: 30px;">House specialties</h1>
      </div>

      <div class="card-container container" style="margin-top: 50px;">
        <div class="card">
          <div class="card-image">
            <img  height="350px" src="https://scontent.fkkc4-1.fna.fbcdn.net/v/t1.15752-9/336773283_552204406901980_5607317320853143619_n.png?_nc_cat=111&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeHYSZvlTWqAHOzs3NkaRfAzsjJyocgozMCyMnKhyCjMwA4qjD5b51xxwbv4HekYIHfiLjSeM_0V38KEjtP2oDvV&_nc_ohc=4VuczQi6Rf4AX_S2FQp&_nc_ht=scontent.fkkc4-1.fna&oh=03_AdSfanaaOBNj_gM4UupeJkFhinz-RtZ18PudIUnVC04G5Q&oe=6448FE8F" alt="">
          </div>
          <div class="card-header">เฟรนช์ฟรายส์</div>
          <div class="card-price">  French Fries</div>
          <div class="card-description">เพียง 59 ฿</div>
        </div>

        <div class="card">
          <div class="card-image">
            <img  height="350px" src="https://scontent.fkkc4-2.fna.fbcdn.net/v/t1.15752-9/337703319_769092134476401_3731975686938507344_n.png?_nc_cat=105&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeFLS09H2w7zsTzNgNzDNUrK3bC7mDkjtyrdsLuYOSO3Kl45enF5QfvLdBO2wl3k4P5lK0FbO8ivCPlMKE-3y8sp&_nc_ohc=_rZB9KRYohwAX8zAyVx&_nc_ht=scontent.fkkc4-2.fna&oh=03_AdTNCV-diAIFr-iAq81dNh6YGN-bW_yFqzX7ckAb4JsHFg&oe=64492BBE" alt="">
          </div>
          <div class="card-header">สปาเก็ตตี้</div>
          <div class="card-price"> Spaghetti</div>
          <div class="card-description">เพียง 129 ฿</div>
        </div>

        <div class="card">
          <div class="card-image">
            <img height="350px"src="https://scontent.fkkc4-1.fna.fbcdn.net/v/t1.15752-9/338457455_2402679036553946_4600550532297561593_n.png?_nc_cat=110&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeG6_7xCDGq7vnH9ndnF8-VxpfwHlNrxrIWl_AeU2vGshQV9F6Gnp23i3HW1ljVNihEILsNmT8u1SzpPQAFzbD_R&_nc_ohc=rRQexKh08cYAX84nt8f&_nc_ht=scontent.fkkc4-1.fna&oh=03_AdS3R2P4OG71-I3kXRSRFhCgiVd64Vl5OSqZvy54e1E5_w&oe=64490F22" alt="">
          </div>
          <div class="card-header">ชาส้ม </div>
          <div class="card-price">orange tea</div>
          <div class="card-description">เพียง 50 ฿</div>
        </div>
      </div>
